@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>FullCalendar in .NET Core</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css' />
    <link rel="stylesheet" href="~/css/calendar.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<div style="margin: 0 auto; width:1000px;">
    <div id="calendar-wrapper">
        <div id='calendar'></div>
    </div>
</div>
<label id="testLabel">@ViewBag.Events</label>

<div class="modal fade" id="popupModal" role="dialog" aria-labelledby="eventModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px!important; margin-left:-150px;">
            <div class="modal-header">
                <button type="button" class="close" id="btnHideModal2" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="eventForm">
                    <div class="form-group" id="popupContent">
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <div>
                    <button type="button" id="btnHideModal" class="closeButton">
                        Zatvori
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js'></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.2/flatpickr.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="~/Scripts/calendar.js"></script>
<script src="~/js/calendar.js" asp-append-version="true"></script>
<script>
    function loadAddPopup(start) {
        $('#popupContent').load('@Url.Action("AddPopup", "Works")?date=' + start);
        $("#popupModal").modal('show');
    }
    $(document).ready(function () {
        $("#btnHideModal").click(function () {
            $("#popupModal").modal('hide');
        });
        $("#btnHideModal2").click(function () {
            $("#popupModal").modal('hide');
        });
    });
</script>