@model PraksaFrontMVC.Models.PermitName

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>
<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Nova dozvola</h1>
</div>

<div class="create-wrap">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label fontGreen">Naziv Dozvole</label>
                    <input asp-for="Name" class="form-control rounded-left" placeholder="Naziv dozvole..."/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" style="font-variant:small-caps;" value="Stvori" class="btn btn-primary" formmethod="post"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Nazad na Listu</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>