@model PraksaFrontMVC.Models.PermitName

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Detalji</h1>
</div>

<div class="create-wrap">
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-2 fontGreen">
                Naziv Dozvole
            </dt>
            <dd class="col-sm-10 normal-variant">
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> <br /><br />
        <a class="btn btn-primary" asp-action="Index">Nazad na Listu</a>
    </div>
</div>
