@model PraksaFrontMVC.Models.ContactNumber

@{
    ViewData["Title"] = "Create";
}

<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Novi kontakt broj</h1>
</div>

<div class="create-wrap">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label fontGreen"></label>
                    <input asp-for="Number" class="form-control rounded-left" />
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>
                <div class="form-group" style="display:none;">
                    <label asp-for="IdUser" class="control-label"></label>
                    <input asp-for="IdUser" value="@ViewBag.userId" class="form-control" />
                    <span asp-validation-for="IdUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" style="font-variant:small-caps" formmethod="post" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="workButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@ViewBag.userId">Nazad na popis</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>