@model PraksaFrontMVC.Models.Person

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link href="~/css/radneAkcijeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Nova radna akcija</h1>
</div>

<div class="create-wrap">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UniqueId" class="control-label fontGreen"></label>
                    <input asp-for="UniqueId" type="number" class="form-control rounded-left" placeholder="Unique id..." />
                    <span asp-validation-for="UniqueId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label fontGreen"></label>
                    <input asp-for="FirstName" class="form-control rounded-left" placeholder="Ime..."/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label fontGreen"></label>
                    <input asp-for="LastName" class="form-control rounded-left" placeholder="Prezime..."/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label fontGreen"></label>
                    <input asp-for="Address" class="form-control rounded-left" placeholder="Adresa..."/>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Oib" class="control-label fontGreen"></label>
                    <input asp-for="Oib" class="form-control rounded-left" placeholder="OIB..."/>
                    <span asp-validation-for="Oib" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Accepted" /> @Html.DisplayNameFor(model => model.Accepted)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label fontGreen"></label>
                    <input asp-for="Password" class="form-control rounded-left" placeholder="Lozinka..."/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dismissed" class="control-label fontGreen"></label>
                    <input asp-for="Dismissed" type="number" class="form-control rounded-left" placeholder="Dismissed"/>
                    <span asp-validation-for="Dismissed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" style="font-variant:small-caps" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>