@model PraksaFrontMVC.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Uredi</h1>
</div>

<div class="create-wrap">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UniqueId" class="control-label fontGreen"></label>
                    <input asp-for="UniqueId" class="form-control rounded-left" />
                    <span asp-validation-for="UniqueId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label fontGreen"></label>
                    <input asp-for="FirstName" class="form-control rounded-left" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label fontGreen"></label>
                    <input asp-for="LastName" class="form-control rounded-left" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label fontGreen"></label>
                    <input asp-for="Address" class="form-control rounded-left" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Oib" class="control-label fontGreen"></label>
                    <input asp-for="Oib" class="form-control rounded-left" />
                    <span asp-validation-for="Oib" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label fontGreen"></label>
                    <label class="normal-variant" style="font-weight:normal!important;">@ViewBag.email</label>
                    <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactEmails" asp-action="Index" asp-route-id="@ViewBag.userId">Uredi</a></div>
                </div>
                <div class="form-group">
                    <label asp-for="Number" class="control-label fontGreen"></label>
                    <label class="normal-variant" style="font-weight:normal!important;">@ViewBag.number</label>
                    <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@ViewBag.userId">Uredi</a></div>
                </div>
                <div class="form-group">
                    <input type="submit" style="font-variant:small-caps" value="Save" class="btn btn-primary" formmethod="post" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>