@model PraksaFrontMVC.Models.Person
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Edit";
}

<head>
    <link href="~/css/loginStyle.css" rel="stylesheet" />
    <link href="~/css/createStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="card-header" style="border:1px solid rgba(0,0,0,0.1)">
    <h1 class="create-header">Uredi</h1>
</div>

<div class="create-wrap">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="control-label fontGreen">JMBAC</label>
                    @if (HttpContextAccessor.HttpContext.Session.GetString("admin").Equals("true"))
                    {
                        <input asp-for="UniqueId" class="form-control rounded-left" />
                    }
                    else
                    {
                        <input asp-for="UniqueId" readonly="readonly" class="form-control rounded-left" />
                    }
                    <span asp-validation-for="UniqueId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">Ime</label>
                    <input asp-for="FirstName" class="form-control rounded-left" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">Prezime</label>
                    <input asp-for="LastName" class="form-control rounded-left" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">Adresa</label>
                    <input asp-for="Address" class="form-control rounded-left" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">OIB</label>
                    <input asp-for="Oib" class="form-control rounded-left" />
                    <span asp-validation-for="Oib" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">Email:</label>
                    <label class="normal-variant" style="font-weight:normal!important;">@ViewBag.email</label>
                    <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactEmails" asp-action="Index" asp-route-id="@ViewBag.userId">Uredi</a></div>
                </div>
                <div class="form-group">
                    <label class="control-label fontGreen">Kontakt broj:</label>
                    <label class="normal-variant" style="font-weight:normal!important;">@ViewBag.number</label>
                    <div style="width: 70px; display: inline;"><a class="editButton" style="font-variant:small-caps" asp-controller="ContactNumbers" asp-action="Index" asp-route-id="@ViewBag.userId">Uredi</a></div>
                </div>
                <div class="form-group">
                    <input type="submit" style="font-variant:small-caps" value="Spremi" class="btn btn-primary" formmethod="post" />
                </div>
            </form>
        </div>
    </div>

    @if (HttpContextAccessor.HttpContext.Session.GetString("admin").Equals("true"))
    {
        <div>
            <a class="btn btn-primary" asp-action="Index">Nazad na Listu</a>
        </div>
    }


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>