@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head >
    <link rel="stylesheet" href="~/css/loginStyle.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Prijava</title>
    <style>
        body {
            font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-variant: small-caps;
            font-weight: 700;
            line-height: 26.4px;
        }

        .btn.btn-primary {
            background: #448d4e !important;
            border: 1px solid #448d4e !important;
            color: #fff !important;
        }

        .login-wrap .icon {
            background: #448d4e !important;
        }

        .login-wrap h3 {
            color: #448d4e !important;
        }

        .fontGreen {
            color: #448d4e !important;
        }
    </style>
</head>
<body style="background: url(../../img/paviljon.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <form >
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-user-o"></span>
                            </div>
                            <h3 class="text-center mb-4">Prijavite se</h3>
                            <div action="#" class="login-form">
                                <div class="form-group">
                                    <label ID="Email" class="fontGreen">E-pošta</label>
                                    <input id="txtEmail" type="text" placeholder="Email..." required="required" class="form-control rounded-left" />
                                </div>
                                <div class="form-group">
                                    <label ID="Email" class="fontGreen">Lozinka</label>
                                    <input id="txtEmail" type="password" placeholder="Lozinka..." required="required" class="form-control rounded-left" />
                                </div>
                                <div class="form-group d-flex">
                                    <input id="btnLogin" type="button" class="form-control btn btn-primary submit px-3" value="Prijava" />
                                    <br /><br />
                                </div>
                                <div class="form-group d-flex">
                                    <a href="@Url.Action("Index", "Home")">
                                        <input id="btnCancel" type="button" class="form-control btn btn-primary submit px-3" value="Odustani" />
                                    </a>
                                    <br /><br />
</div>
                                <div class="form-group">
                                    <br />
                                    <a href="@Url.Action("Index", "Registration" )">
                                        <input id="btnRegister" type="button" class="form-control btn btn-primary submit px-3" value="Registriraj se" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </form>
</body>
</html>
