@model PraksaFrontMVC.Models.Person

@{
    ViewData["Title"] = "Create";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/loginStyle.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Registracija</title>
    <style>
        body {
            font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-variant: small-caps;
            font-weight: 700;
            line-height: 26.4px;
        }

        .btn.btn-primary {
            background: #448d4e !important;
            border: 1px solid #448d4e !important;
            color: #fff !important;
        }

        .login-wrap .icon {
            background: #448d4e !important;
        }

        .login-wrap h3 {
            color: #448d4e !important;
        }

        .fontGreen {
            color: #448d4e !important;
        }
    </style>
</head>
<body style="background: url(../../img/paviljon.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
    <form asp-action="Create">
        <asp:ScriptManager ID="ScriptManager1"></asp:ScriptManager>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fa fa-user-o"></span>
                            </div>
                            <h3 class="text-center mb-4">Registracija</h3>
                            <div action="#" class="login-form">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Ime</label>
                                    <input asp-for="FirstName" class="form-control rounded-left" placeholder="Ime..." />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Prezime</label>
                                    <input asp-for="LastName" class="form-control rounded-left" placeholder="Prezime..." />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Adresa</label>
                                    <input asp-for="Address" class="form-control rounded-left" placeholder="Adresa..." />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Oib</label>
                                    <input asp-for="Oib" class="form-control rounded-left" placeholder="OIB..." />
                                    <span asp-validation-for="Oib" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">E-pošta</label>
                                    <input asp-for="Email" class="form-control rounded-left" placeholder="Email..." />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Kontakt broj</label>
                                    <input asp-for="Number" class="form-control rounded-left" placeholder="Kontakt broj..." />
                                    <span asp-validation-for="Number" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Lozinka</label>
                                    <input asp-for="Password" type="password" class="form-control rounded-left" placeholder="Lozinka..." />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label fontGreen">Ponovi lozinku</label>
                                    <input asp-for="Password" type="password" class="form-control rounded-left" placeholder="Ponovi lozinku..." />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group d-flex">
                                    <input type="submit" formmethod="post" class="form-control btn btn-primary submit px-3" value="Potvrdi" />
                                    <br /><br />
                                </div>
                                <div class="form-group">
                                    <br />
                                    <a href="@Url.Action("Index", "Home")">
                                        <input type="button" ID="btnCancel" class="form-control btn btn-primary submit px-3" value="Odustani" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>
