<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Praksa2021" connectionString="Data Source=167.86.127.239;Initial Catalog=Praksa2021;User ID=SerengetiUser;Password=Serengeti12345678910"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>